.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 90vh;
  padding: 20px; /* Add padding for spacing */
  margin-bottom: 50px;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
  margin-top: 30px;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: #252525;
}

.popular-item {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items horizontally */
  gap: 30px;
  max-width: 100%; /* Use full available width */
}

.popular-item > div {
  flex: 0 1 23%; /* Each item takes up roughly 1/4th of the container width, minus gaps */
  box-sizing: border-box; /* Include padding and border in width/height */
}
